# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Local development
uploads/
sample_data/
docker/

# System Files
.DS_Store
Thumbs.db
